body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: DarkSlateBlue;
}

p {
    font-size: 3rem;
}

.frame {
    width: 30rem;
    height: 30rem;
    display: flex;
    flex-direction: column;
    background: DarkSlateBlue;
}

.ghost-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: floating 5s infinite;
}

.upperbody {
    background: white;
    height: 16rem;
    width: 16rem;
    border-radius: 50% 50% 0 0;
    margin: auto;
    display: flex;
    justify-content: center;
    box-shadow: 0px 0px 37px 0px white;
}

.face {
    width: 8rem;
    margin-top: 6rem;
    display: flex;
    flex-direction: column;
}

.eyes-wrapper {
    display: flex;
    justify-content: space-around;
}

.eye {
    width: 0.9rem;
    height: 0.9rem;
    border-radius: 50%;
    background: black;
}

.cheeks-wrapper {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
}

.cheek {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background: pink;
}

.mouth-wrapper {
    margin-top: -2rem;
}

.mouth {
    width: 1.5rem;
    height: 1.5rem;
    border: 5px solid black;
    border-color: transparent transparent black black;
    border-radius: 50%;
    transform: rotate(-45deg);
    margin: auto;
}

.lowerbody-container {
    display: flex;
}

.lowerbody {
    width: 4rem;
    height: 3rem;
    background: white;
    box-shadow: 0px 0px 37px 0px white;
}

.lowerbody-1 {
    border-radius: 0 0 100% 30%;
}

.lowerbody-2 {
    border-radius: 0 0 50% 50%;
}

.lowerbody-3 {
    border-radius: 0 0 50% 50%;
}

.lowerbody-4 {
    border-radius: 0 0 30% 100%;
}

@keyframes floating {
    0% {
        transform: translate(0rem, 0rem);
    }
    50% {
        transform: translate(1rem, 1rem);
    }
    75% {
        transform: translate(-1rem, -1rem);
    }
    100% {
        transform: translate(0rem, 0rem);
    }
}
